*{
    padding: 0;
    margin: 0;
}
html, body{
    background-color: #222222;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    padding: 15px;
    box-sizing: border-box;
}
#grid-box{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
}
.botTagStyle{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.botContainerStyle{
    height: 100px;
    width: 100px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}
.botActive{
    transition-duration: 1s;
    border: 1px solid green;
}
.botInactive{
    transition-duration: 1s;
    border: 1px solid crimson;
}
.botSuscribed{
    transition-duration: 1s;

    border: 1px solid dodgerblue;
}
.botNotSuscribed{
    border: 1px solid lightgoldenrodyellow;
}
@media screen and (max-width: 480px){
    #grid-box{
        width: 100%;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 15px;
        justify-content: center;
        align-items: center;
    }
}